extends layout

block content  
  include partials/signup
  //- button(id='increment') +1
  //- block form
  //-   form(id="formMessage")
  //-     input(type="text" placeholder="message" id="inputMessage")
  //-     input(value='Submit', type='submit')

