block signup
  .container
      form.form-login.m-auto.corner-5
        h1.text-center Welcome
        span.form-login-avatar
          img(src="/images/avatar-01.jpg", alt="alt")
        div.input-wrap
          input.input-login.w-full.p-0(type='text', placeholder='Email address' required)
        div.input-wrap  
          input.input-login.w-full.p-0(type='password', placeholder='Password' required)
        button.btn.btn-form-login(type='submit') Sign in
